$drawer-z: 35 !default;
$drawer-header-height: 3.25em !default;
$drawer-footer-height: 4rem !default;
$drawer-shadow: 5px 0px 13px 3px rgba( 0, 0, 0, 0.1 ) !default;
$drawer-divider: 1px solid $grey-lighter !default;

.drawer {
  display: flex;
  flex-direction: column;
  max-width: calc( 100% - 50px );
  &.is-marginless {
    max-width: 100%;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $drawer-z;
  transform: translateZ( 0 );
  transition: .3s ease;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
  @include mobile {
    width: 100%;
    right: -100%;
  }
  @include tablet {
    width: 50%;
    right: -50%;
  }
  @include desktop {
    width: 35%;
    right: -35%;
  }
  @include widescreen {
    width: 30%;
    right: -30%;
  }
  @include fullhd {
    width: 25%;
    right: -25%;
  }
  &.is-left {
    @include mobile {
      left: -100%;
    }
    @include tablet {
      left: -50%;
    }
    @include desktop {
      left: -35%;
    }
    @include widescreen {
      left: -30%;
    }
    @include fullhd {
      left: -25%;
    }
  }
  &.is-active {
    right: 0;
    box-shadow: $drawer-shadow;
    &.is-left {
      left: 0;
    }
  }
}
.drawer-backdrop {
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: $drawer-z - 1;
  background: rgba(black, 0.1);
}
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  min-height: $drawer-header-height !important;
  border-bottom: $drawer-divider;
  background-color: $white;
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
      .title, .subtitle {
        color: $color-invert;
      }
    }
  }
}
.drawer-body {
  background-color: $white;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  overflow-y: auto;
}
.drawer-block {
  padding: 0.75rem 1rem;
}
.drawer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: $drawer-footer-height;
  background-color: $white-ter;
  border-top: $drawer-divider;
  > * {
    margin: 0 .4rem;
  }
}
