@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url("../fonts/Inter-Regular.ttf") format("truetype");
    }
}

:root {
    --color-primary: #101d56;
    --color-secondary: #111;
    --color-accent: #f9a826;

    --body-font: "Inter", sans-serif;
    --header-font: "Georgia", serif;
}

.btn {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
}

.btn-primary {
    @apply bg-primary text-white;
}

.btn-secondary {
    @apply bg-secondary text-white;
}

.btn-outline {
    @apply bg-transparent border border-primary text-primary;
}

.title {
    @apply font-inter text-2xl font-semibold tracking-wider;
}
