/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import '../../node_modules/@creativebulma/bulma-badge';
@import './drawer';

a {
  outline: 0;
}

.has-limited-width {
  width: 670px;
  max-width: 100%;
}
.is-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}
.has-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}
.card {
  //transition: box-shadow 0.2s;
  display: block;
  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
a.card {
  color: $text;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.input {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $primary;
      background: none;

    }
  }
  &.is-white {
    &.is-outlined {
      border: 1px solid $white;
      color: $white;
      background: none;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}
.hero-body {
  max-width: 100%;
}

.image {
  overflow: hidden;
  img {
    height: auto !important;
  }
}
.background-image {
  background-size: cover;
  background-position: top center;
}

.card-content {
  position: relative;
}

.button {
  &.is-wide {
    min-width: 150px;
  }
  &.is-wider {
    min-width: 200px;
  }
}
@media screen and (max-width: 768px), print {
  .button {
    &.is-fullwidth-mobile {
      display: flex;
      width: 100%;
    }
  }
}
.box {
  border: 1px solid transparent;
}
a.box {
  &:hover, &:focus {
    border: 1px solid $link-hover;
  }
}
.has-radius {
  border-radius: 7px;
}

.has-shadow {
  box-shadow: $box-shadow;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 10;
  }
}
