/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import '../../node_modules/@creativebulma/bulma-badge';
@import '../../node_modules/@creativebulma/bulma-tooltip';
@import './drawer';
@import '../../node_modules/bulma-switch/dist/css/bulma-switch.min.css';
@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

a {
  outline: 0;
}

hr {
  height: 1px;
  background-color: #E8EEFF;
}

.title {
  font-family: $title-family;
  color: $title-color;
}

h1.title {
  font-weight: $title-weight;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
}

h2.title {
  font-weight: 600;
  font-size: 16px;
}

.has-limited-width {
  width: 670px;
  max-width: 100%;
}
.has-limited-width-small {
  width: 500px;
  max-width: 100%;
}
.is-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}
.has-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.has-background-image {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.card {
  height: 100%;
  //transition: box-shadow 0.2s;
  display: block;
  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
a.card {
  color: $text;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.input {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $primary;
      background: none;

    }
  }
  &.is-white {
    &.is-outlined {
      border: 1px solid $white;
      color: $white;
      background: none;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}
.hero-body {
  max-width: 100%;
}

.image {
  overflow: hidden;
  img {
    height: auto !important;
  }
}
.background-image {
  background-size: cover;
  background-position: top center;
}

.card-content {
  flex-grow: 1;
  height: 100%;
  position: relative;
}
.modal-card {
  max-width: 100%;
}

.button {
  font-weight: 600;
  height: 2.6em;
  border-radius: 8px;
  &.is-small {
    border-radius: 8px !important;
  }
  &.is-wide {
    min-width: 140px;
  }
  &.is-wider {
    min-width: 200px;
  }
  &.is-outlined {
    border-width: 3px;
  }
}
@media screen and (max-width: $tablet), print {
  .button {
    &.is-fullwidth-mobile {
      display: flex;
      width: 100%;
    }
  }
}
.box {
  border: 1px solid transparent;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  height: 100%;
  flex-direction: column;
}
a.box {
  &:hover, &:focus {
    border: 1px solid $link-hover;
  }
}
.has-radius {
  border-radius: 7px;
}

.has-shadow {
  box-shadow: $box-shadow;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  background: rgba(white, 0.8);
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 10;
  }
}

.is-ellipsis {
  display: block;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.is-ellipsis-1 {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  white-space: normal;
}
.is-ellipsis-2 {
  -webkit-line-clamp: 2;
  white-space: normal;
  display: -webkit-box;
}
.is-ellipsis-3 {
  -webkit-line-clamp: 3;
  white-space: normal;
  display: -webkit-box;
}
.is-ellipsis-4 {
  -webkit-line-clamp: 4;
  white-space: normal;
  display: -webkit-box;
}
.is-ellipsis-5 {
  -webkit-line-clamp: 5;
  white-space: normal;
  display: -webkit-box;
}
.is-ellipsis-6 {
  -webkit-line-clamp: 6;
  white-space: normal;
  display: -webkit-box;
}

.is-ellipsis-7 {
  -webkit-line-clamp: 7;
  white-space: normal;
  display: -webkit-box;
}

.blockchain-address {
  font-family: monospace;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.progress.is-info {
  animation: pulse-blue 2s infinite;
}

.is-pulsing {
  animation: pulse-default-info 2s infinite;
}

@keyframes pulse-default-info {
  0% {
    box-shadow: 0 0 0 0 rgba(62, 142, 208, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(62, 142, 208, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(62, 142, 208, 0);
  }
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(62, 142, 208, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(62, 142, 208, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(62, 142, 208, 0);
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
  pointer-events: none;
}
.tag {
  &.has-border {
    border: 1px solid $grey;
  }
}

/* Mobile margins */
@media screen and (max-width: $tablet) {
  .has-margin-mobile {
    margin: 1rem !important;
  }

  .has-margin-vertical-mobile {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .has-margin-horizontal-mobile {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .has-margin-top-mobile {
    margin-top: 1rem !important;
  }

  .has-margin-right-mobile {
    margin-right: 1rem !important;
  }

  .has-margin-bottom-mobile {
    margin-bottom: 1rem !important;
  }

  .has-margin-left-mobile {
    margin-left : 1rem !important;
  }

  .is-marginless-mobile {
    margin: 0 !important;
  }

  .is-paddingless-mobile {
    padding: 0 !important;
  }

  .is-marginless-vertical-mobile {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .is-marginless-horizontal-mobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .is-marginless-top-mobile {
    margin-top: 0 !important;
  }

  .is-marginless-right-mobile {
    margin-right: 0 !important;
  }

  .is-marginless-bottom-mobile {
    margin-bottom: 0 !important;
  }

  .is-marginless-left-mobile {
    margin-left : 0 !important;
  }
  .no-float-mobile {
    float: none !important;
  }
}
.campaign-tabs {
  overflow-x: hidden;
}
@include mobile {
  .campaign-tabs ul {
    flex-direction: column;

    li {
      width: 100%;
    }
  }
}

  .loading-text {
    padding-right: 0.5em;
      &:after {
      content: '.';
      animation: dots 1.2s steps(5, end) infinite;
      }
  }

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: $text;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 $text,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 $text,
      .5em 0 0 $text;}}


/* Multiselect */
.multiselect {
  border-radius: 6px;
  border-color: #dbdbdb;
  border: 2px;
  &__tag, &__option--highlight {
    background-color: $primary !important;
  }
  &__tag-icon {
    &:after {
      color: #fff;
    }
    &:hover {
      background-color: rgba(255,255,255,0.15);
    }
  }
}