/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://use.typekit.net/kej5qyk.css');

$family-sans-serif: 'Inter', sans-serif;
$family-secondary: 'Inter', sans-serif; // 'p22-mackinac-pro',serif;

// Colors
$primary: #101D56;
$secondary: #1148EB;
$secondary-alt: #5158fa;

$secondary-invert: findColorInvert($secondary) !default;
$secondary-alt-invert: findColorInvert($secondary-alt) !default;
$accent: #FFAE0D;
$accent-invert: findColorInvert($accent) !default;
$yellow-light: #FFFDF7;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "secondary-alt":($secondary-alt, $secondary-alt-invert),
  "accent":($accent, $accent-invert),
);

$text: #363636;
// $body-background-color: #FFFDF7;

$link: $secondary;
$link-hover: lighten($secondary, 20%);
$link-focus: lighten($secondary, 20%);
$link-active: lighten($secondary, 20%);

$title-weight: 400;
$title-color: $primary;
//$subtitle-color: $secondary;
$title-family: $family-secondary;
$subtitle-family: $family-sans-serif;

$body-line-height: 1.7;
$button-padding-horizontal: 1.7em;

$network-color: #5158fa;
$translate-color: #00c165;
$force-color: #057cff;
$socials-color: #06c6c6;
$pieces-color: #999999;
$dao-color: #d7ac00;
$captions-color: #e06375;

$network-color-invert: findColorInvert($network-color);
$translate-color-invert: findColorInvert($translate-color);
$force-color-invert: findColorInvert($force-color);
$socials-color-invert: findColorInvert($socials-color);
$pieces-color-invert: findColorInvert($pieces-color);
$dao-color-invert: findColorInvert($dao-color);
$captions-color-invert: findColorInvert($captions-color);

$network-color-light: findLightColor($network-color);
$translate-color-light: findLightColor($translate-color);
$force-color-light: findLightColor($force-color);
$socials-color-light: findLightColor($socials-color);
$pieces-color-light: findLightColor($pieces-color);
$dao-color-light: findLightColor($dao-color);
$captions-color-light: findLightColor($captions-color);

$network-color-dark: findDarkColor($network-color);
$translate-color-dark: findDarkColor($translate-color);
$force-color-dark: findDarkColor($force-color);
$socials-color-dark: findDarkColor($socials-color);
$pieces-color-dark: findDarkColor($pieces-color);
$dao-color-dark: findDarkColor($dao-color);
$captions-color-dark: findDarkColor($captions-color);

//$box-shadow: 0 0 38px 10px rgba(49,71,168,0.12);
//$box-link-hover-shadow: 0 0 38px 10px rgba($link,0.12);
//$box-link-active-shadow:  0 0 38px 10px rgba($link,0.12);
$box-shadow: 0px 2px 20px rgba(129, 136, 157, 0.4);
$box-link-hover-shadow: 0 5px 10px 0 rgba($link,0.1);
$box-link-active-shadow: 0 5px 10px 0 rgba($link,0.1);
$card-shadow: 0 0 38px 10px rgba(49,71,168,0.12);

$light: #F6F7FF;
$lightblue: #E8EEFF;

$drawer-divider: 2px solid $lightblue;
$drawer-header-height: 63px;
$drawer-shadow: -5px 0px 12px 0 rgba($primary, 0.10);

$navbar-height: 5rem;

$control-border-width: 2px;

@import "~bulma/sass/utilities/derived-variables";
$effectColors: (
  "dao": ($dao-color, $dao-color-invert, $dao-color-light, $dao-color-dark),
  "translate": ($translate-color, $translate-color-invert, $translate-color-light, $translate-color-dark),
  "force": ($force-color, $force-color-invert, $force-color-light, $force-color-dark),
  "socials": ($socials-color, $socials-color-invert, $socials-color-light, $socials-color-dark),
  "pieces": ($pieces-color, $pieces-color-invert, $pieces-color-light, $pieces-color-dark),
  "captions": ($captions-color, $captions-color-invert, $captions-color-light, $captions-color-dark),
  "network": ($network-color, $network-color-invert, $network-color-light, $network-color-dark)
);
$colors: map-merge($colors, $effectColors);

$fullhd: 1440px + (2 * $gap)