@import url("normalize.css");

@font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --dark-color: #2c3e50;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;

  --font-family-body: "Arial", sans-serif;
  --font-family-header: "Inter", sans-serif;

  --font-size-sm: 0.8em;
  --font-size: 1em;
  --font-size-lg: 1.25em;
  --font-size-xl: 1.75em;
  --font-size-2xl: 2em;
  --font-size-3xl: 3em;
  --font-size-4xl: 4em;

  --line-height: 1.5;

  --bg-color: #fff;
  --bg-light-color: #f8f9fa;
  --bg-dark-color: #343a40;

  --text-color: #666;
  --text-light-color: #f8f9fa;
  --text-dark-color: #343a40;

  --border-color: #dee2e6;
  --border-light-color: #f8f9fa;
  --border-dark-color: #343a40;
}

html {
  height: 100%;
  font-family: var(--font-family-body);
  font-size: var(--font-size);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
  font-weight: 400 !important;
}

h1 {
  font-size: var(--font-size-4xl) !important;
  line-height: 87px;
}

h2 {
  font-size: var(--font-size-3xl);
}

h3 {
  font-size: var(--font-size-2xl);
}

/* TABLE STYLING */

table {
  width: 100%;
  border-collapse: collapse;
}

.table-container {
  overflow-x: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--border-color);
}

th {
  background-color: var(--bg-light-color);
}

tr:nth-child(even) {
  background-color: var(--bg-light-color);
}

tr:hover {
  cursor: pointer;
  background: var(--color-gray-200);
}

/* BUTTON STYLING */

.button {
  padding: 0.5rem 1rem;
  font-size: var(--font-size);
  color: var(--text-light-color);
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--dark-color);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* CONTAINER */

.container {
  width: 100%;

  max-width: 1200px;
  padding: 1rem 1rem;
  margin: 0 auto;
}

/* MODAL */

dialog {
  width: 75%;
  max-width: 600px;
  padding: 1rem;
  background-color: var(--bg-light-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.backdrop-loader {
  position: fixed;
  top: 75px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 75px);
  font-size: 24px;
  color: white;
  background: white;
}

.backdrop-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Content Styling */

.title {
  font-family: var(--font-family-header);
  font-size: var(--font-size-2xl);
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/* Utility classes */

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

/* Loader */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  background: currentColor;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.lds-ring div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid currentColor;
  border-color: currentColor transparent transparent transparent;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Dropdown */

.dropbtn {
  padding: 16px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #3498db;
  border: none;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 160px;
  overflow: auto;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Form Styling */

input {
  height: 40px;
  padding: 0.5rem;
  font-size: var(--font-size);
  border: 1px solid var(--border-color);
}
